*{
    margin: 0;
    padding: 0;
 

}


#encabezado{

    width: 98%;
    height: 150px;
    background-color: rgb(45, 41, 48);
    text-align: center;
    border: 1.5px solid;
    margin: 5px;

}



#menu{


    height:50px;
    width: 98%;
    background-color: #b46424;
    color: rgb(0, 0, 0);
    border: 1.5px solid;
    margin: 5px;

}

#ul{
    text-align: center;
    padding: 5px;
    margin: 2.5px 0px 2.5px;
   
    


}


#li{

    display: inline;
    padding: 5px;
    font-size: 25px;

}

#li:hover{
    font-size: 30px;
    color: black;
    margin: 0px 0px 2.5px;
    cursor: pointer;

}







#pie {
    width: 98%;
    height: 50px;
    background-color: #3a251c ;
    text-align: center;
    margin: 5px;
    border: 1.5px solid;
    
   
   }


   h3{

    padding: 5px;
    text-align: center;
    font-size: 30px;
    color: #f1ecea;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

   }

   #contenedorflexAIC{

    display: flex;
    width: 98%;
    height: 1000px;
    justify-content: space-around;
    align-items: center;
    background-color:#f1ecea;
    margin: 5px;
    border: 1px solid;
  
    }
   
    #item{

        background-color: #362f2f;
        width: 64%;
        height: 100%;
        border: 1.5px solid;
        text-align: center;
        line-height: 25px;
        font-size: 20px;

        
        
        }


        #item2{

            background-color:#362f2f;
            width: 35%;
            height: 100%;
            border: 1.5px solid;
            text-align: center;
            line-height: 25px;
            font-size: 25px;
            margin-left: 30px;
        
            
            }


            .texto{

             text-align: justify;
             font-size: 20px;
             margin: 0.5em;
             color: #f1ecea;
             font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              padding: 5px;
            }
            .texto2{

                padding: 5px;
                text-align: center;
                font-size: 30px;
                margin: 0.5em;
                color: #f1ecea;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

         #img{

           
           border: 1px solid;
           margin: 5px 5px;


         }

 li{

    text-align: justify;
  margin: 1em;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f1ecea;
  list-style-type:square;
  cursor: pointer;

 }

 @media screen and (max-width:900px) {
  
   
    


   

 }
   
   